a, a:hover, a:focus{
	/*td*/
	text-decoration: none;
	/*c-i*/
	color: inherit;
}
ul{
	/*lis-n*/
	list-style: none;
}
body{
	/*miw320*/
	min-width: 320px;
	color: #fff;
	/*background-image: url(../img/background.jpg);*/
	/*background-size: cover;*/
	/*color: #fff;*/
}
img{
	max-width:100%;
}
/*=====================HEADER======================*/
.header{
	height: 100vh;
	background-color: #18bc9c;
	min-height: 600px;
}
.header-cover{
	text-align: center;
	padding-top: 100px;
}
.header .navbar{
	position: fixed;
	width: 100%;
	z-index: 1000;
}
.header .image{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin: auto;
}
.header .image img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.header-cover .name{
	text-transform: uppercase;
	font-size: 80px;
	margin: 20px 0;
}
.portfolio-star{
	font-size:30px;
}
.portfolio-star:after,
.portfolio-star:before{
	content: "";
	display: block;
	border-top:3px solid #fff;
	width: 100px;
}
.portfolio-star{
	display: inline-flex;
	align-items: center;
}
.portfolio-star i{
	margin:0 20px;
}
.header-cover .skills{
	text-transform: capitalize;
	font-size:25px;
}


/*=========Content============*/
.section-content{
	text-align: center;
}
.section-content .card{
	margin-top: 20px;
	z-index: 10;
}
.section-content .card img{
	height: 500px;
	width: 100%;
}
.section-content .portfolio-star {
	color: #18bc9c;
	padding: 40px 0;
}
.section-content .portfolio-star:after,
.section-content .portfolio-star:before {
	content: "";
	display: block;
	border-top: 3px solid #18bc9c;
	width: 100px;
}
.section-content .portfolio-star{
	 display: inline-flex;
	 align-items: center;
 }
/*============section-footer========*/
.section-footer{
	padding:50px 0;
}
.section-footer p{
	font-size: 16px;
	color: #000;
}